<% include ./_partial/head.ejs %>
<body>
    <ul>
        <% for(var i=0; i<article.length; i++) {%>
        <li>
            <a href="<%= article[i].href%>"><%= article[i].title %></a>
        </li>
        <% } %>
    </ul>
<% include ./_partial/footer.ejs%>
</body>