<% include ./_partial/head.ejs %>
<body>
<div class="box">
    <%= article %>
    <section class="disqus-comments">
        <div id="disqus_thread">
            <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </section>
</div>
<% include ./_partial/comment.ejs%>
<% include ./_partial/footer.ejs%>
</body>