<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= setting.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/tomorrow-night-bright.min.css">
    <link rel="stylesheet" href="../../style/post.css">
</head>