*{
    margin: 0;
    padding: 0;
    ul{
        list-style: none;
        &.inline{
            li{
                float: left;
            }
        }
    }
    ol{
        padding-left: 1em;
    }
    a{
        text-decoration: none;
        color: #34495e;
    }
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
    font-family: Lato,"Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    color: #34495e;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
pre,pre.hljs{
    border-radius: .5em;
    padding: 1em;
    font-size: .8em;
    background-color: #efefef;
    margin: .2em 0;
}
p code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
blockquote{
    background-color: #efefef;
    line-height: 1.6;
    border-left: 8px solid #42b983;
    padding: .3em 1em;
    margin: .5em 0;
}
.btn{
    font-family: Lato;
    font-size: 16px;
    display: inline-block;
    padding: .5em 2.4em ;
    border: 1px solid #666;
    background-color: white;
    border-radius: 2em;
    &:hover{
        background-color: #999;
        color: white;
    }
    &.btn-default{
        color: white;
        background-color: #161F26;
        border: 1px solid #161F26;
        &:hover{
            background-color: white;
            color: #5495f1;
        }
    }
}
.pull-right{
    float: right !important;
}
.pull-left{
    float: left !important;
}
.clearfix{
    &:after {
       content: " "; 
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
}
.v-comment-box{
    .ds-meta,.ds-comments-info,.ds-sync,.ds-powered-by,.ds-toolbar-buttons{
        display: none !important;
    }
    .ds-post-options,.ds-textarea-wrapper,.ds-post-button{
        background: none !important;
    }
    .ds-post-options{
        background-color: #eee !important;
        border-width: 0 0 2px 0 !important;
        border-color: #ddd !important;
        border-bottom-left-radius: 10px !important;
    }
    #ds-ctx{
        border-color: #42b983 !important;
        .ds-ctx-entry{
            border: none !important;
        }
    }
    .ds-post{
        border-top: none !important;
    }
    .ds-comments{
        border-bottom: none !important;
    }
    #ds-reset .ds-highlight{
        font-size: 16px !important;
        color: #4285f4 !important;
    }
    .ds-comment-body p,.ds-comment-context{
        font-size: 14px !important;
        color: #666 !important;
    }
    .ds-post-placeholder{
        display: none !important;
    }
    .ds-post-button{
        border-width: 0 0 2px 0 !important;
        border-color: #42b983 !important;
        border-bottom-right-radius: 10px !important;
        background-color: #b6e7b4 !important;
        color: white !important;
        text-shadow: none !important; 
    }
    .ds-textarea-wrapper{
        border: 2px solid #eee !important;
        border-bottom: none !important;
        border-radius: 10px 10px 0 0 !important;
    }
}
.html{
    p{
        margin: 1em 0;
        line-height: 1.6;
        font-size: 1.1em;
    }
    h1,h2,h3,h4,h5,h6{
        margin: .5em 0;
    }
}
#app{
    width: 100vw;
    height: 100vh;
    min-width: 900px;
}
.text-overflow{
    white-space:nowrap; 
    text-overflow:ellipsis;
    overflow:hidden; 
}
.both-center{
    display:flex;
    justify-content:center;
    align-items: center;
}